:root {
  --color-background: #282828;
  --color-canvas: #3c3836;
  --color-canvas-darker: #b8bb26;
  --color-snake: #b8bb26;
  --color-snake-head: #fabd2f;
  --color-apple: #f494a3;
  --color-text: #fbf1c7;
  --color-subtext: #bdae93;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--color-text);
}
::selection {
  background: var(--color-canvas);
}
html {
  scroll-behavior: smooth;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
}

.h1 {
  font-weight: 800;
}
.description {
  font-weight: 400;
  color: var(--color-subtext);
  font-size: 1rem;
  padding-bottom: 36px;
}

.score-bar {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--color-canvas-darker);
}
.score,
.highest {
  font-weight: 800;
  font-size: 1.3rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vmin;
  height: 60vmin;
  border-radius: 5px;
}

.canvas {
  display: grid;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(15, 1fr);
  background: var(--color-canvas);
}

.canvas .snake {
  background: var(--color-snake);
}
.canvas .snake-head {
  background: var(--color-snake-head);
}

.canvas .apple {
  width: 35px;
}

.controls {
  display: flex;
  background: var(--color-canvas);
  margin-top: 36px;
  display: flex;
  width: 60vmin;
  padding: 3px 10px;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.control-element {
  display: flex;
  justify-content: space-between;
}
